/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container-messages {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

#chatContainer {
    display: flex;
    flex-direction: column;
}

.chat {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
    max-height: 300px;
}

.input-container {
    display: flex;
}

#messageInput {
    flex: 1;
    padding: 8px;
}

#sendButton {
    background-color: #3498db;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

#sendButton:hover {
    background-color: #2980b9;
} */

.main-box{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    overflow:visible;
}
.container-messages{
    /* background-color: pink; */
    /* max-width: 00px; Added spaces around the minus sign */
    position: relative;

}

.heading{
    height: 80px;
}
.messages-body{
    height: calc(100% - 80px);
    /* background-color: aqua; */
    overflow: auto;
}

.indv-message{
    height: 2rem;
}
.dark .main-box{
    background-color: #3A3B3C;
}
.dark .messages-body{
    background-color: #4D4C4C;
    color: #CCC;
}
nav ~ .main-box .container-messages {
    left: 450px;
    transition: 1s all;
    right: 0;
    height: 70vh;
    width: 45%;
}
nav.close ~ .main-box .container-messages{
    /* width:calc(100%-73px); */
    left:400px;
    width: 50%;
    /* transform: scaleX(2); */
}
@media screen and (max-width: 1000px) {
    nav.close ~ .main-box .container-messages{
        /* width:calc(100%-250px); */
        left:300px;
        width: 45%;
     }
     nav ~ .main-box .container-messages{
         /* width:calc(100%-73px); */
         width: 50%;
         left:250px;
     }
}